<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  	<%= render 'layouts/header' %>
  	<h3>Layout being rendered X 2</h3>
    <div class="container">
    	<%= yield %>
    </div>
    <%= render 'layouts/footer' %>

  </body>
</html>